.card {
	max-width: 250px;
}

@media screen and (min-width: 290px) {
	.card {
		max-width: 300px;
	}
}

@media screen and (min-width: 576px) {
	.card {
		max-width: 500px;
	}
}

.icon {
	height: 100px;
	width: 100px;
}
