.h-100vh {
	height: 100vh;
}

.w-auto {
	width: auto;
}

.clickable:hover {
	cursor: pointer;
}

.mobile-logout {
	display: block;
}

.column-on-mobile {
	flex-direction: column;
}

@media screen and (min-width: 576px) {
	.mobile-logout {
		display: none;
	}

	.column-on-mobile {
		flex-direction: row;
	}
}

@-moz-keyframes spinning {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spinning {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spin {
	animation-name: spinning;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

label.required::after {
	content: '*';
	color: rgb(190, 0, 0);
	padding-left: 1px;
}

.wrapper[data-mode='dark'] {
	background-color: rgb(50, 50, 50);
}

.wrapper[data-mode='dark'] .main-panel {
	background-color: rgb(50, 50, 50);
}

.wrapper[data-mode='dark'] h1 {
	color: #fff !important;
}

.wrapper[data-mode='dark'] h2 {
	color: #fff !important;
}

.wrapper[data-mode='dark'] h3 {
	color: #fff !important;
}

.wrapper[data-mode='dark'] h4 {
	color: #fff !important;
}

.wrapper[data-mode='dark'] h5 {
	color: #fff !important;
}

.wrapper[data-mode='dark'] h6 {
	color: #fff !important;
}

.wrapper[data-mode='dark'] a:not(.nav-link) {
	color: #fff !important;
}

.wrapper[data-mode='dark'] .logo {
	background-color: rgb(50, 50, 50) !important;
}

.wrapper[data-mode='dark'] .sidebar-wrapper {
	background-color: rgb(50, 50, 50) !important;
}

.wrapper[data-mode='dark'] .nav-link:not(.active) {
	color: #fff !important;
}

.wrapper[data-mode='dark'] .card-title {
	color: #fff !important;
}

.wrapper[data-mode='dark'] .card-text {
	color: #fff !important;
}

.wrapper[data-mode='dark'] .card {
	background-color: rgb(50, 50, 50) !important;
	box-shadow: 0 1px 4px rgb(250, 250, 250);
}

.wrapper[data-mode='dark'] td {
	color: white;
}

.wrapper[data-mode='dark'] th {
	color: white;
}

.wrapper[data-mode='dark'] .table-hover tr:hover > td {
	color: rgb(50, 50, 50);
}

.wrapper[data-mode='dark'] .modal-content {
	background-color: rgb(50, 50, 50);
}

.wrapper[data-mode='dark'] .page-link:hover {
	color: rgb(50, 50, 50) !important;
}

.wrapper[data-mode='dark'] input {
	background-color: rgb(50, 50, 50) !important;
	color: #fff !important;
}

.wrapper[data-mode='dark'] label {
	color: #fff !important;
}

.wrapper[data-mode='dark'] select {
	color: #fff !important;
}

.wrapper[data-mode='dark'] option {
	background-color: rgb(50, 50, 50);
}

.wrapper[data-mode='dark'] .dropdown-menu {
	background-color: rgb(50, 50, 50);
}

.wrapper[data-mode='dark'] .navbar-toggler > span {
	background-color: #fff !important;
}

.wrapper[data-mode='dark'] .modal-header button[data-dismiss='modal'] span {
	color: #fff !important;
}

.wrapper[data-mode='dark'] textarea {
	color: #fff !important;
}

.wrapper[data-mode='dark'] .form-text {
	color: rgb(200, 200, 200) !important;
}
